<?xml version="1.0"?>
<configuration>
		<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TMS_Payongayong.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TMS_Payongayong.My.MySettings.ConnectionString" connectionString="server=mysql5002.Smarterasp.net;uid=9bb18f_tms;pwd=tmsdev2015;port=;database=db_9bb18f_tms;"
      providerName="System.Data.Odbc" />
  </connectionStrings>
  <startup>
			<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
		</startup>
  <userSettings>
    <TMS_Payongayong.My.MySettings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="status" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="userko" serializeAs="String">
        <value />
      </setting>
      <setting name="serverko" serializeAs="String">
        <value />
      </setting>
      <setting name="passko" serializeAs="String">
        <value />
      </setting>
      <setting name="portko" serializeAs="String">
        <value />
      </setting>
      <setting name="databaseko" serializeAs="String">
        <value />
      </setting>
      <setting name="constringbackup" serializeAs="String">
        <value>Dsn=tms_payongayong</value>
      </setting>
    </TMS_Payongayong.My.MySettings>
  </userSettings>
</configuration>
